// Navigation Styles here

nav {
  .custom-layout(space-between, center, row, wrap);
  border-bottom: 2px dashed lightgray;
  padding: 2rem 20rem;

  a {
    text-decoration: none;
    color: @font-color;
  }

  .links a {
    margin-left: 4rem;
    font-size: 1.6rem;
  }
}